body {
    background: white;
    font-family: sans-serif;
}

div#start-game {
  text-align: center;
}

form#new-game label {
  display: block;
  margin-top: 10px;
}

form#new-game input.submit {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
